@charset "utf-8";

.ui-body-c, .ui-dialog.ui-overlay-c {
	background-color: #fff;

	background-image: -webkit-gradient(linear,left top,left bottom,from (#FFF),to(#EEE));
	background-image: -webkit-linear-gradient(#FFF,	#EEE);
	background-image: -moz-linear-gradient(#FFF, #EEE);
	background-image: -ms-linear-gradient(#FFF, #EEE);
	background-image: -o-linear-gradient(#FFF, #EEE);
	background-image: linear-gradient(#FFF,	#EEE);
	}
}
/* index.html */

img a {
	border: none;
}

.iconBox {
	float: left;
	height: auto;
	width: 80px;
	text-align: center;
	margin-left: 12px;
	margin-bottom: 0px;
	margin-top: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.notSelectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.iconBox a{
	height: auto;
	display: block;
	padding: 0px;
}

.iconBox a:active{
	box-shadow: 0px 0px 1px #acf, inset 0px 0px 5px #acf;
	border-radius: 5px 5px;
/*	background-color: #ffd;*/
	background-opacity: 0.3;
}

.icon {
	padding: 0px;
	margin: 0px;
}

img.icon {
	max-width: 65px;
	margin: 0px;
	padding: 0px;
}

.iconTitle {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	text-decoration: none;
}

a {
	text-decoration: none;
}

/* Favourites */

.availability {
	float: right;
}

/* Loaned */

.dueDate {
	float: right;
}

/* Search Listing */

h3.listingBookTitle {
	margin: 0px;
	padding: 0px;
}

.listAvailability {
	float: right;
	margin-top: 10px;
}

.notAvailable {
	color: #f00;
}

.available {
	color: #0c0;
}

/* Book Details */

.availability {
	width: 230px;
	text-align: center;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 5px 0;
	border-radius: 15px;
	text-shadow: none;
	box-shadow: #aaa 0px 0px 5px;
	font-size: 12px;
}

div#notAvailable {
	background-color: #f77;
	border: 1px solid #f99;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa), to(#f77));
}

div#loaned {
	background-color: none;
	border: none;
	font-size: 18px;
	box-shadow: none;
	color: #0a0;
	font-weight: bold;
}

.bookCover, .bookDetails {
	display: inline;
	float: left;
}

.bookCover {
	padding: 0px;
	margin: 0px;

}
.bookCover img{
	margin: 0px 0px 0px -5px;
	padding: 0px;
	width: 70px;
	border: 1px solid #999;
}

.bookDetails {
	width: 200px;
	margin: 0 0 0 10px;
	padding: 0px;
}

.bookDetails span {
	display: block;

}

.bookCover {
	padding: 0px;
	margin: 0px;
	display: inline;
}

.bookTitle {
	font-size: 18px;
}

.bookEdition, .bookISBN {
	font-size: 11px;
	font-style: italic;
	margin: 10px 5px;
}


span.bookAuthor {
/* 	text-indent: -15px;
	margin-left: 100px;*/
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: normal;
}

.bookEdition, .bookLocation{
	font-weight: normal;
	font-size: 12px;
}


a#loanButton {
	text-align:center;
	text-indent: none;
	font-size:10px;
}


/* scan mock */
#scanImages {
	text-align: center;
	margin: 10px;
}

#scanImg1, #scanImg2, #scanImg3 {
	max-width: 300px;
	margin: auto;
}

#scanImg2, #scanImg3 {
	display: none;
}